# Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("Laliga.csv")
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2

In [8]:
new_header = df.iloc[0] 
df = df[1:] 
df.columns = new_header 
df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [9]:
df.set_index('Pos',inplace=True)

In [10]:
df.head()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1 to 61
Data columns (total 19 columns):
Team             61 non-null object
Seasons          61 non-null object
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null object
dtypes: object(19)
memory usage: 9.5+ KB

In [12]:
df.replace(to_replace =["-"],value=0,inplace=True)

In [13]:
df.head(61)

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

# Print all the teams which have started playing between 1930-1980. (5 points)

In [14]:
df[['Debut Start','Debut End']] = df.Debut.str.split("-",expand=True) 
df.drop('Debut End',axis=1,inplace=True)

In [15]:
df['Debut Start'] = df['Debut Start'].apply(pd.to_numeric)

In [16]:
df1=df[(df['Debut Start'] <= 1980)&(df['Debut Start'] >= 1930)]

In [17]:
df1

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut Start
Pos,,,,,,,,,,,,,,,,,,,,
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1,1931
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1,1934
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2,1939
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1,1932
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1,1941
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4,1939
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4,1948
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2,1944
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4,1935
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4,1949
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3,1933
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3,1960
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2,1951
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6,1941
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8,1977
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5,1959
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5,1935
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5,1961
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11,1940
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6,1930
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6,1963
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7,1974
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4,1943
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12,1977
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4,1941
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5,1962
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8,1978
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12,1971
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7,1963
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7,1947
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10,1945
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14,1953
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10,1979
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16,1950
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16,1956
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16,1951
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15,1955

In [18]:
df1.shape

(37, 20)

# Print the list of teams which came Top 5 in terms of points (2.5 points)

In [19]:
df['Points'] = df['Points'].apply(pd.to_numeric)
df2=df.sort_values(by=['Points'],ascending=False)[0:5]
df2

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut Start
Pos,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1,1929
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1,1929
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1,1929
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1,1931
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1,1929

In [66]:
df2[["Team","Points"]]

0               Team  Points
Pos
1        Real Madrid    4385
2          Barcelona    4262
3    Atletico Madrid    3442
4           Valencia    3386
5    Athletic Bilbao    3368

# Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

Goal_diff_count = GoalsFor - GoalsAgainst

In [23]:
df['GoalsFor'] = df['GoalsFor'].apply(pd.to_numeric)
df['GoalsAgainst'] = df['GoalsAgainst'].apply(pd.to_numeric)

In [37]:
def Goal_diff_count(a,b):
    return (a-b)

In [41]:
df['GoalDiffCount'] = df.apply(lambda df: Goal_diff_count(df['GoalsFor'], df['GoalsAgainst']), axis=1)

In [43]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut Start,GoalDiffCount
Pos,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,8,3,4,79,1929,1929,1,1929,2807
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,12,4,6,83,1929,1929,1,1929,2786
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,16,9,7,6,56,1929,2002-03,1,1929,1225
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,10,11,10,7,50,1931-32,1987-88,1,1931,929
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,10,5,8,10,49,1929,1929,1,1929,931
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,...,4,5,12,6,32,1934-35,2001-02,1,1934,307
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,...,4,5,2,5,16,1929,1994-95,3,1929,-280
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,...,2,5,4,3,19,1929,2010-11,1,1929,-2
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,...,4,5,4,4,18,1939-40,2012-13,2,1939,-164
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,...,2,3,4,4,14,1932-33,2015-16,1,1932,-333
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,...,4,1,0,1,12,1941-42,2014-15,1,1941,-136
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,...,0,2,4,5,11,1939-40,2012-13,4,1939,-346
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,...,0,1,1,1,3,1948-49,2013-14,4,1948,-413
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,...,1,2,0,1,5,1929,2011-12,2,1929,-525
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,...,1,2,2,1,7,1944-45,2015-16,2,1944,-399
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,...,0,2,2,2,6,1935-36,2016-17,4,1935,-334
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,...,0,1,0,1,2,1949-50,2008-09,4,1949,-342
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,...,3,2,2,4,11,1933-34,2000-01,3,1933,-309
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,...,2,0,2,1,5,1960-61,2012-13,3,1960,-189
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,...,1,1,1,1,5,1951-52,2015-16,2,1951,-399
21,Villarreal,17,970,646,266,172,208,892,789,0,...,1,2,3,2,9,1998-99,2013-14,2,1998,103
22,Granada,23,667,742,218,175,349,819,1157,0,...,0,0,0,2,2,1941-42,2016-17,6,1941,-338
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,...,0,0,0,0,0,1977-78,2015-16,8,1977,-328
24,Elche,21,606,678,203,180,295,750,1022,0,...,0,0,1,1,2,1959-60,2014-15,5,1959,-272
25,Getafe,12,553,456,147,112,197,520,633,0,...,0,0,0,1,1,2004-05,2015-16,6,2004,-113
26,Hercules,20,538,628,184,149,295,716,1050,0,...,0,0,1,4,5,1935-36,2010-11,5,1935,-334
27,Tenerife,13,510,494,155,128,211,619,744,0,...,0,0,2,0,2,1961-62,2009-10,5,1961,-125
28,Murcia,18,445,586,145,143,298,607,992,0,...,0,0,0,0,0,1940-41,2007-08,11,1940,-385
29,Alaves,12,421,380,125,81,174,458,623,0,...,0,0,0,1,1,1930-31,2016-17,6,1930,-165
30,Levante,11,416,402,113,95,194,430,632,0,...,0,0,0,1,1,1963-64,2015-16,6,1963,-202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Sabadell,14,353,426,129,95,202,492,720,0,...,0,1,1,0,2,1943-44,1987-88,4,1943,-228
33,Cadiz,12,343,448,104,127,217,393,662,0,...,0,0,0,0,0,1977-78,2005-06,12,1977,-269
34,Logrones,9,293,346,96,92,158,291,489,0,...,0,0,0,0,0,1987-88,1996-97,7,1987,-198
35,Castellon,11,285,334,103,79,152,419,588,0,...,0,1,2,0,3,1941-42,1990-91,4,1941,-169
36,Albacete,7,277,270,76,76,118,320,410,0,...,0,0,0,0,0,1991-92,2004-05,7,1991,-90
37,Almeria,6,242,228,62,56,110,244,366,0,...,0,0,0,0,0,2007-08,2014-15,8,2007,-122
38,Cordoba,9,230,282,82,63,137,285,430,0,...,0,0,1,0,1,1962-63,2014-15,5,1962,-145
39,Compostela,4,190,160,52,45,63,199,241,0,...,0,0,0,0,0,1994-95,1997-98,10,1994,-42
40,Recreativo,5,188,186,50,46,90,202,296,0,...,0,0,0,0,0,1978-79,2008-09,8,1978,-94
41,Burgos CF,6,168,204,59,50,95,216,310,0,...,0,0,0,0,0,1971-72,1979-80,12,1971,-94
42,Pontevedra,6,150,180,53,44,83,165,221,0,...,0,0,0,0,0,1963-64,1969-70,7,1963,-56
43,Numancia,4,148,152,37,37,78,155,253,0,...,0,0,0,0,0,1999-00,2008-09,17,1999,-98
44,Eibar,3,132,114,35,27,52,139,167,0,...,0,0,0,0,0,2014-15,2014-15,10,2014,-28
45,Arenas,7,107,130,43,21,66,227,308,0,...,1,0,3,0,4,1929,1934-35,3,1929,-81
46,Real Burgos,3,96,114,26,44,44,101,139,0,...,0,0,0,0,0,1990-91,1992-93,9,1990,-38
47,Gimnastic,4,91,116,34,16,66,181,295,0,...,0,0,0,0,0,1947-48,2006-07,7,1947,-114
48,Extremadura,2,83,80,20,23,37,62,117,0,...,0,0,0,0,0,1996-97,1998-99,17,1996,-55
49,Merida,2,81,80,19,24,37,70,115,0,...,0,0,0,0,0,1995-96,1997-98,19,1995,-45
50,Alcoyano,4,76,108,30,16,62,145,252,0,...,0,0,0,0,0,1945-46,1950-51,10,1945,-107
51,Jaen,3,71,90,29,13,48,121,183,0,...,0,0,0,0,0,1953-54,1957-58,14,1953,-62
52,Real Union,4,56,72,21,14,37,153,184,0,...,0,0,0,1,1,1929,1931-32,6,1929,-31
53,AD Almeria,2,52,68,17,18,33,71,116,0,...,0,0,0,0,0,1979-80,1980-81,10,1979,-45
54,Europa,3,42,54,18,6,30,97,131,0,...,0,0,0,0,0,1929,1930-31,8,1929,-34
55,Lleida,2,40,68,13,14,41,70,182,0,...,0,0,0,0,0,1950-51,1993-94,16,1950,-112
56,Leganes,1,35,38,8,11,19,36,55,0,...,0,0,0,0,0,2016-17,2016-17,17,2016,-19
57,Xerez,1,34,38,8,10,20,38,66,0,...,0,0,0,0,0,2009-10,2009-10,20,2009,-28
58,Condal,1,22,30,7,8,15,37,57,0,...,0,0,0,0,0,1956-57,1956-57,16,1956,-20
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,...,0,0,0,0,0,1951-52,1951-52,16,1951,-34
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,...,0,0,0,0,0,1955-56,1955-56,15,1955,-31
61,Girona,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0

In [49]:
df.loc[(df['GoalDiffCount'] == df['GoalDiffCount'].max())]["Team"]

Pos
1    Real Madrid
Name: Team, dtype: object

In [50]:
df.loc[(df['GoalDiffCount'] == df['GoalDiffCount'].min())]["Team"]

Pos
14    Racing Santander
Name: Team, dtype: object

# Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

In [58]:
def winning_perc(a,b):
    if a==0 or b==0:
        return 0
    else:
        c=(a/b)*100
        return c

In [59]:
df['GamesWon'] = df['GamesWon'].apply(pd.to_numeric)
df['GamesPlayed'] = df['GamesPlayed'].apply(pd.to_numeric)

In [60]:
df['Winning Percent'] = df.apply(lambda df: winning_perc(df['GamesWon'], df['GamesPlayed']), axis=1)

In [62]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut Start,GoalDiffCount,Winning Percent
Pos,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,3,4,79,1929,1929,1,1929,2807,59.630702
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,4,6,83,1929,1929,1,1929,2786,57.241130
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,9,7,6,56,1929,2002-03,1,1929,1225,47.475134
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,11,10,7,50,1931-32,1987-88,1,1931,929,44.557057
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,5,8,10,49,1929,1929,1,1929,931,43.772629
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,...,5,12,6,32,1934-35,2001-02,1,1934,307,41.112957
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,...,5,2,5,16,1929,1994-95,3,1929,-280,36.100533
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,...,5,4,3,19,1929,2010-11,1,1929,-2,37.532580
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,...,5,4,4,18,1939-40,2012-13,2,1939,-164,35.146022
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,...,3,4,4,14,1932-33,2015-16,1,1932,-333,35.069444
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,...,1,0,1,12,1941-42,2014-15,1,1941,-136,36.797386
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,...,2,4,5,11,1939-40,2012-13,4,1939,-346,34.511190
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,...,1,1,1,3,1948-49,2013-14,4,1948,-413,31.582538
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,...,2,0,1,5,1929,2011-12,2,1929,-525,31.722689
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,...,2,2,1,7,1944-45,2015-16,2,1944,-399,32.304527
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,...,2,2,2,6,1935-36,2016-17,4,1935,-334,32.321700
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,...,1,0,1,2,1949-50,2008-09,4,1949,-342,31.075697
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,...,2,2,4,11,1933-34,2000-01,3,1933,-309,34.228188
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,...,0,2,1,5,1960-61,2012-13,3,1960,-189,33.704453
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,...,1,1,1,5,1951-52,2015-16,2,1951,-399,33.485401
21,Villarreal,17,970,646,266,172,208,892,789,0,...,2,3,2,9,1998-99,2013-14,2,1998,103,41.176471
22,Granada,23,667,742,218,175,349,819,1157,0,...,0,0,2,2,1941-42,2016-17,6,1941,-338,29.380054
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,...,0,0,0,0,1977-78,2015-16,8,1977,-328,28.987730
24,Elche,21,606,678,203,180,295,750,1022,0,...,0,1,1,2,1959-60,2014-15,5,1959,-272,29.941003
25,Getafe,12,553,456,147,112,197,520,633,0,...,0,0,1,1,2004-05,2015-16,6,2004,-113,32.236842
26,Hercules,20,538,628,184,149,295,716,1050,0,...,0,1,4,5,1935-36,2010-11,5,1935,-334,29.299363
27,Tenerife,13,510,494,155,128,211,619,744,0,...,0,2,0,2,1961-62,2009-10,5,1961,-125,31.376518
28,Murcia,18,445,586,145,143,298,607,992,0,...,0,0,0,0,1940-41,2007-08,11,1940,-385,24.744027
29,Alaves,12,421,380,125,81,174,458,623,0,...,0,0,1,1,1930-31,2016-17,6,1930,-165,32.894737
30,Levante,11,416,402,113,95,194,430,632,0,...,0,0,1,1,1963-64,2015-16,6,1963,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Sabadell,14,353,426,129,95,202,492,720,0,...,1,1,0,2,1943-44,1987-88,4,1943,-228,30.281690
33,Cadiz,12,343,448,104,127,217,393,662,0,...,0,0,0,0,1977-78,2005-06,12,1977,-269,23.214286
34,Logrones,9,293,346,96,92,158,291,489,0,...,0,0,0,0,1987-88,1996-97,7,1987,-198,27.745665
35,Castellon,11,285,334,103,79,152,419,588,0,...,1,2,0,3,1941-42,1990-91,4,1941,-169,30.838323
36,Albacete,7,277,270,76,76,118,320,410,0,...,0,0,0,0,1991-92,2004-05,7,1991,-90,28.148148
37,Almeria,6,242,228,62,56,110,244,366,0,...,0,0,0,0,2007-08,2014-15,8,2007,-122,27.192982
38,Cordoba,9,230,282,82,63,137,285,430,0,...,0,1,0,1,1962-63,2014-15,5,1962,-145,29.078014
39,Compostela,4,190,160,52,45,63,199,241,0,...,0,0,0,0,1994-95,1997-98,10,1994,-42,32.500000
40,Recreativo,5,188,186,50,46,90,202,296,0,...,0,0,0,0,1978-79,2008-09,8,1978,-94,26.881720
41,Burgos CF,6,168,204,59,50,95,216,310,0,...,0,0,0,0,1971-72,1979-80,12,1971,-94,28.921569
42,Pontevedra,6,150,180,53,44,83,165,221,0,...,0,0,0,0,1963-64,1969-70,7,1963,-56,29.444444
43,Numancia,4,148,152,37,37,78,155,253,0,...,0,0,0,0,1999-00,2008-09,17,1999,-98,24.342105
44,Eibar,3,132,114,35,27,52,139,167,0,...,0,0,0,0,2014-15,2014-15,10,2014,-28,30.701754
45,Arenas,7,107,130,43,21,66,227,308,0,...,0,3,0,4,1929,1934-35,3,1929,-81,33.076923
46,Real Burgos,3,96,114,26,44,44,101,139,0,...,0,0,0,0,1990-91,1992-93,9,1990,-38,22.807018
47,Gimnastic,4,91,116,34,16,66,181,295,0,...,0,0,0,0,1947-48,2006-07,7,1947,-114,29.310345
48,Extremadura,2,83,80,20,23,37,62,117,0,...,0,0,0,0,1996-97,1998-99,17,1996,-55,25.000000
49,Merida,2,81,80,19,24,37,70,115,0,...,0,0,0,0,1995-96,1997-98,19,1995,-45,23.750000
50,Alcoyano,4,76,108,30,16,62,145,252,0,...,0,0,0,0,1945-46,1950-51,10,1945,-107,27.777778
51,Jaen,3,71,90,29,13,48,121,183,0,...,0,0,0,0,1953-54,1957-58,14,1953,-62,32.222222
52,Real Union,4,56,72,21,14,37,153,184,0,...,0,0,1,1,1929,1931-32,6,1929,-31,29.166667
53,AD Almeria,2,52,68,17,18,33,71,116,0,...,0,0,0,0,1979-80,1980-81,10,1979,-45,25.000000
54,Europa,3,42,54,18,6,30,97,131,0,...,0,0,0,0,1929,1930-31,8,1929,-34,33.333333
55,Lleida,2,40,68,13,14,41,70,182,0,...,0,0,0,0,1950-51,1993-94,16,1950,-112,19.117647
56,Leganes,1,35,38,8,11,19,36,55,0,...,0,0,0,0,2016-17,2016-17,17,2016,-19,21.052632
57,Xerez,1,34,38,8,10,20,38,66,0,...,0,0,0,0,2009-10,2009-10,20,2009,-28,21.052632
58,Condal,1,22,30,7,8,15,37,57,0,...,0,0,0,0,1956-57,1956-57,16,1956,-20,23.333333
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,...,0,0,0,0,1951-52,1951-52,16,1951,-34,23.333333
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,...,0,0,0,0,1955-56,1955-56,15,1955,-31,16.666667
61,Girona,1,0,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,2017,0,0.000000

# Print the top 5 teams which has the highest Winning percentage

In [64]:
dfw=df.sort_values(by=['Winning Percent'],ascending=False)[0:5]
dfw

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut Start,GoalDiffCount,Winning Percent
Pos,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,3,4,79,1929,1929,1,1929,2807,59.630702
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,4,6,83,1929,1929,1,1929,2786,57.241130
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,9,7,6,56,1929,2002-03,1,1929,1225,47.475134
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,11,10,7,50,1931-32,1987-88,1,1931,929,44.557057
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,5,8,10,49,1929,1929,1,1929,931,43.772629

In [67]:
dfw[["Team","Winning Percent"]]

0               Team  Winning Percent
Pos
1        Real Madrid        59.630702
2          Barcelona        57.241130
3    Atletico Madrid        47.475134
4           Valencia        44.557057
5    Athletic Bilbao        43.772629

# Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                     Points
        1                              25000
        2                              7000

In [93]:
df['BestPosition'] = df['BestPosition'].apply(pd.to_numeric)

In [108]:
groupedByChampion=df.groupby('BestPosition').sum()
dfsort=groupedByChampion.sort_values(by='BestPosition',ascending=True,axis=0)
dfsort.iloc[0:,[0]]

0             Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34